@charset "utf-8";

/* リセットcss */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* 共通のスタイル */
.section-title {
  font-size: 30px;
  font-weight: bold;
  margin: 30px 0;
  text-align: center;
}

img {
  display: block;
  width: 100%;
}

.wrap {
  width: 80%;
  margin: 0 auto 50px;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

/* その他のスタイルは以下に記述していきます */

/* ヘッダー */

/* 教材では言及していなかったですが基本的に運用の面を考えるとタグにスタイルを当てることはあまり良いとされていません。classに当てられるとベストです */
/* CSS設計の教科書という本がおすすめです */
header {
  background: black;
  height: 50px;
}
.header-logo {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-left: 35px;
  line-height: 50px;
}
.header-nav li {
  display: inline-block;
  margin-right: 35px;
  font-size: 14px;
}
.header-nav a {
  color: white;
}

/* トップ画面 */
.eyecatch {
  height: 600px;
  background: url(../img/eyecatch.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
/* こちらのclass名を変えています */
.mv-title {
  position: absolute;
  top: 60%;
  left: 10%;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  color: white;
}
.news {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  border: 0;
  outline: 0;
}
/* こちらのclass名を変えています */
.news-left {
  background-color: white;
  color: black;
  font-size: 12px;
  padding: 3px 180px 15px 3px;
  display: inline-block;
}
.news-title {
  padding-top: 3px;
  padding-left: 5px;
}
/* こちらのclass名を変えています */
.news-right {
  background-color: black;
  display: inline-block;
  padding: 18px 40px 15px 40px;
  color: white;
  text-align: center;
  font-size: 12px;
  margin: 0px;
  border: 0;
  outline: 0;
}

/* ミッション画面 */
.mission {
  background-color: white;
  width: 100%;
  height: 470px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
.mission-back {
  background-color: black;
  width: 100%;
  height: 350px;
  position: relative;
  margin-top: 0;
  padding-top: 0;
}
.mission-details {
  position: absolute;
  top: 30px;
  left: 0;
  padding: 50px 300px 10px 190px;
}
.mission-details h2 {
  color: white;
  font-size: 20px;
  line-height: 3em;
}
.mission-details p {
  color: white;
  font-size: 12px;
  position: absolute;
  z-index: 10;
}
.mission-button {
  color: black;
  background-color: white;
  font-size: 6px;
  padding: 10px 20px;
  position: absolute;
  top: 200px;
  left: 190px;
  cursor: pointer;
}
.mission-img {
  width: 38%;
  height: auto;
  position: absolute;
  top: 70px;
  right: 60px;
}

/* サービス画面 */
.service {
  background-color: #e2e0e0;
  position: relative;
  padding-bottom: 200px;
}
.service-title {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 15px;
}
/* こちらのclass名を変えています */
.service-first-img {
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-bottom: 200px;
}
/* こちらのclass名を変えています */
.service-second-img {
  width: 50%;
  height: auto;
}
/* こちらのclass名を変えています */
.service-first-card {
  background-color: white;
  padding: 50px 50px;
  position: absolute;
  top: 150px;
  left: 100px;
  margin-left: 150px;
  margin-right: 600px;
}
/* こちらのclass名を変えています */
.service-card h3 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 13px;
}
/* こちらのclass名を変えています */
.service-card-mission {
  font-size: 13px;
  margin-bottom: 13px;
}
/* こちらのclass名を変えています */
.service-card-description {
  font-size: 13px;
}
/* こちらのclass名を変えています */
.service-button {
  font-size: 15px;
  float: right;
  border: 1px solid black;
  display: inline;
  padding: 10px 30px;
  margin-top: 13px;
  cursor: pointer;
  background-color: #fff;
}
/* こちらのclass名を変えています */
.service-second-card {
  background-color: white;
  padding: 50px 50px;
  position: absolute;
  bottom: 220px;
  left: 380px;
  margin-left: 150px;
  margin-right: 320px;
}

/* インフォメーション画面 */
.infomation {
  background-color: white;
  width: 100%;
  height: 150%;
  position: relative;
}
.company-img {
  width: 48%;
  height: 200px;
  object-fit: cover;
  margin-top: 100px;
}
.recruit-img {
  width: 48%;
  height: 200px;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
}
/* こちらのclass名を変えています */
.company-title {
  font-size: 25px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 80px;
  left: 250px;
}
.company-subtitle {
  font-size: 13px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 110px;
  left: 280px;
}
/* こちらのclass名を変えています */
.recruit-title {
  font-size: 25px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 80px;
  right: 280px;
}
.recruit-subtitle {
  font-size: 13px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 110px;
  right: 300px;
}
/* こちらのclass名を変えています */
.faq {
  width: 80%;
  height: 100px;
  color: white;
  background-color: black;
  margin: 100px 150px;
  position: relative;
}
/* こちらのclass名を変えています */
.faq-title {
  font-size: 25px;
  font-weight: bold;
  padding-left: 30px;
  padding-top: 35px;
}
/* こちらのclass名を変えています */
.faq-subtitle {
  /* 基本的にpostionを使って要素を移動する際はpxよりも%の方が良いです */
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* コンタクト画面 */
.contact {
  height: 500px;
  background: url(../img/contact-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.contact-content {
  color: white;
  text-align: center;
  padding: 150px;
}
.contact-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 8px;
}
.contact-subtitle {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 20px;
}
.contact-emphasis {
  font-size: 25px;
  margin-bottom: 20px;
}
.contact-description {
  font-size: 13px;
  margin-bottom: 20px;
}
.contact-button {
  font-size: 13px;
  border: 1px solid white;
  display: inline-block;
  padding: 6px 15px;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
}
/* フッター */
footer {
  background: black;
  height: 50px;
  position: relative;
}
.footer-logo {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-left: 35px;
  line-height: 50px;
}
.footer-nav li {
  display: inline-block;
  margin-right: 35px;
  font-size: 14px;
}
.footer-nav a {
  color: white;
}

/* こちらのclass名を変えています */
.footer-copyright {
  color: white;
  font-size: 10px;
  /* こちらも%でないと画面の大きさによって少し変わってしまいます */
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
